<h1 class="center">Customers Listing</h1>

<center>
<table> 
  <th>First_name</th>
  <th colspan=3>Actions</th>
  <% @customers.each do |customer| %>
  <tr>  
    <td><%= customer.first_name %></td>
    <td><%= button_to "Preview",preview_buisness_customer_path(customer),method: :get %></td>
    <td><%= button_to "Edit",edit_buisness_customer_path(customer),method: :get %></td>
    <td><%= button_to "Delete",delete_customer_buisness_customer_path(customer),method: :delete %></td>
  </tr>
  <% end %>
</table>
</center>

<center>
<div>
  <%= link_to "Add a customer",new_buisness_customer_path %>
</div>
</center>

<center>
<div>
  <%= link_to "Search customer",search_buisness_customers_path %>
</div>
</center>